.layout {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  .navsWrapper {
    flex-shrink: 0;
    &::after {
      content: '';
      width: 100%;
      display: block;
      height: 50px;
    }

    .navs {
      position: fixed;
      width: 100%;
      height: 50px;
      top: 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 0 20px;
      z-index: 9;
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(8px);
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);

      .navItem {
        margin: 0 10px;
        text-decoration: none;
        color: #333;
        font-size: 16px;
      }
      .active{
        color: #1677ff;
      }
    }
  }
  .main{
    height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    flex-grow: 1;
  }
}